@import url("https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url("./images/welcome.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fffffff3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

body .appBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* align-items: center; */
  background-color: rgba(7, 36, 53, 0.7);
  padding: 1.5em;
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  margin: 1em;
  font-family: 'Hina Mincho', serif;
}

body .appBox .btn {
  display: block;
  outline: none;
  border: none;
  max-width: 9em;
  width: 100%;
  border-radius: 30px;
  margin-left: 30%;
  color: #fffffff3;
  background: rgba(7, 36, 53, 0.7);
  padding: 1em;
  font-family: 'Hina Mincho', serif;
  font-size: 1em;
}

body .appBox .btn:hover {
  background: #65c20e;
}

body .appBox .appName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1em;
}

body .appBox .weatherDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .appBox .weatherNumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 4.1em;
}

body .appBox .weatherNumber span {
  font-size: 50%;
}

body .appBox .location {
  margin-top: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .appBox .location .locationName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .appBox .location .day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .appBox .searchBar {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .appBox .searchBar .searchTxt {
  border: none;
  outline: none;
  padding: 0.5em 0.2em;
  border-radius: 26px;
  background: #1414142b;
  color: #fffffff3;
  font-family: 'Hina Mincho', serif;
  font-size: 110%;
}

body .appBox .searchBar button {
  border: none;
  outline: none;
  border-radius: 50%;
  width: 3em;
  height: 3.1em;
}

body .appBox .searchBar button:hover {
  background: blanchedalmond;
  cursor: pointer;
  -webkit-transition: 0.4;
  transition: 0.4;
}
